@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
body,html{width:100%;}
li{list-style: none;}
a{display:inline-block; color: #333; text-decoration: none;}
button{display:inline-block; background-color:transparent; border:transparent; cursor: pointer;}

.sr-only{display:inline-block; width:1px; height:1px; clip:rect(0,0,0,0); overflow: hidden; margin: -1px; position:absolute; z-index: -1;}


#todo{background: url('/img/do-it/bg-desktop-light.jpg') no-repeat center top; padding-top: 300px; }
#todo .section-in{max-width:540px; width:100%; margin: 0 auto; position: relative; top:-250px}

#todo .title{font-size:50px; color:#fff; display:block}

#todo .day,#todo .night{width:40px; height:40px;  background-size: 100%; background-repeat: no-repeat; background-position: center center; position:absolute; right:0%;top:15px}
#todo .day{background-image: url('/img/do-it/icon-sun.svg');}
#todo .night{background-image: url('/img/do-it/icon-moon.svg');}

.do-enter{display:flex;background-color: #fff; height:66px; border-radius: 10px; padding:10px 10px 10px 10px}
.do-enter .text{height:100%; width:calc(80% - 10px);margin-right: 10px; padding:0 10px}
.do-enter .input-btn{
width:20%; color:#fff;
background:-webkit-linear-gradient(45deg, #8595f7, #af69f0); border-radius: 5px;}

