@charset "UTF-8";

.section{}

.section:after{content:'';display:block;clear:both}
.section .tab{margin:20px 0}
.section .tab li{display:inline-block; margin-left:5px}
.section .tab_note{
    padding: 20px 25px;
    border: 10px solid transparent;
    border-image: url('/img/check_bg.jpg') 20 5 repeat;
}
.note_button{background-color: #ececec;border-radius:10px; outline: none; transition: 0.6s; padding:15px}
.note_button:focus,.note_button:hover,.note_button:active{background-color: #f0df51;}
.note_box{}


.note_box{display:table;table-layout:fixed;width:100%;display: none;}
.note_box.on{display:block;}
.note_box button:focus{text-decoration: underline;}

.note_box > div{display:table-cell; padding:15px}
.note_box .text-pre{white-space: pre; word-wrap: break-word; word-break: keep-all;}
.note_box.array .img_wrap{
    width: 1181px;
    height: 994px;
}

.note_box.function{display:flex}
.note_box.function > div{max-width: 16.66666%; flex:0 0 16.666666%}
.note_box.function .tit{font-size: 18px;}
.note_box.function .text-pre{font-size: 18px;}
