@charset "UTF-8";
.note_button{}
.note_box{}
.note_button.on + .note_box{}

.note_box{display:table; table-layout:fixed; width:100%}
.note_box > div{display:table-cell; padding:15px}
.note_box .text-pre{white-space: pre;}
.note_box.array .img_wrap{
    width: 1181px;
    height: 994px;
}

