@charset "UTF-8";

.section{}
.section:after{content:'';display:block;clear:both}
.section .tab{width:200px;/* display: inline-block; *//* height: 100%; */float: left;}
.section .tab_note{width: calc(100% - 250px);display: inline-block;float: left;}
.note_button{border-bottom:2px solid transparent;background-color: transparent; outline: none;}
.note_button:focus,.note_button:hover,.note_button:active{border-bottom: 2px solid #f0df51;}
.note_box{}


.note_box{display:table;table-layout:fixed;width:100%;height:0;display: none;}
.note_box.on{display:block;}
.note_box button:focus{text-decoration: underline;}

.note_box > div{display:table-cell; padding:15px}
.note_box .text-pre{white-space: pre;}
.note_box.array .img_wrap{
    width: 1181px;
    height: 994px;
}


